<%= form_with(url: root_path, method: :get, local: true) do |f| %>
  <%= f.text_field :search %>
  <%= select_tag :large_area, options_for_select(@large_area_select) %>
  <% @large_area_group.each_with_index do |group, index| %>
  <% binding.irb %>
    <div id="<%= group[0][0][0] %>" class="selectbox"><%= select_tag :middle_area, options_for_select(@large_area_group[index][0][1]) %></div>
  <% end %>
  <%= f.submit 'Search' %>
<% end %>

<table>
<% if @results.present? %>
  <% @results.each do |result| %>
<tr>
    <th>名前</th>
    <td><%= result["name"] %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= result["address"] %></td>
  </tr>
  <tr>
    <th>ジャンル</th>
    <td><%= result["genre"]["name"] %></td>
  </tr>
  <tr>
    <th>画像</th>
    <td><%= image_tag result["photo"]["pc"]["l"] %></td>
  </tr>
  <% end %>
<% end %>
</table>
<%= javascript_pack_tag "shops" %>
